name: Analyze code

# Trigger the Analyze code workflow
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  # Set up Flutter for all other tasks.
  setup:
    runs-on: ${{ matrix.os }}
    env:
      PUB_CACHE: ~/.pub-cache

    strategy:
      matrix:
        os: [ubuntu-latest]
        include:
          - os: ubuntu-latest
            flutter_path: /opt/hostedtoolcache/flutter
      fail-fast: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: ${{ secrets.FLUTTER_VERSION }}
          cache: true

      - name: Cache Pub dependencies
        uses: actions/cache@v3
        with:
          path: ${{ env.PUB_CACHE }}
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.lock') }}
          restore-keys: |
            ${{ runner.os }}-pub-

      - name: Disbale analytics of flutter
        run: flutter config --no-analytics

      - name: Install pub Dependencies
        run: flutter pub get

      - name: Install example dependencies
        run: cd example && flutter pub get

      - name: Check for any formatting issues in the code.
        run: dart format --set-exit-if-changed .

      - name: Statically analyze the Dart code for any errors.
        run: dart analyze .

      - name: Run library tests
        run: flutter test

      - name: Run example tests
        run: cd example && flutter test
